<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCDciSOWToFzZA19ym099G_nU3rRl07M8</string>
	<key>GCM_SENDER_ID</key>
	<string>461322382222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nightteam.sleep-lights</string>
	<key>PROJECT_ID</key>
	<string>sleep-lights</string>
	<key>STORAGE_BUCKET</key>
	<string>sleep-lights.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461322382222:ios:385b084f2e940b90a9d2df</string>
</dict>
</plist>